<style type="text/css">


 
     #map {
    width: 420px;
    height: 450px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    float:left;
    /*margin: 10px auto;*/
    border: #d2d3db solid  7px;

    
    }



    #contact1 {
        width: 400;
        height: 400;
        margin: 20px auto;
        /*border : black solid 1px;*/
        float: left;
    }

    p {  font-size: 25px; }

    #address1 { float : left;
        margin-right:  40px;

    }

    #form{ margin: 10px; float:left; }

    .controls { float: left; padding-right: 10px; padding-bottom: 20px;}

    #button { margin:20px; float: left;}

</style>



<!-- <script src='https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js'></script> 
 -->


<div class=" container-fluid">

    <div id="map">
         <iframe src="http://www.yourmapmaker.com/preview.php?a=2418 S Bristol st  Ana , CA 92704 ,United States&w=420&h=450&n=test&z=14&t=Map" height="490" width="520" scrolling="no" frameborder="0"></iframe>



    </div>

    <div id="contact1">
            

            <div id="address1">

                <p> Contact </p>

                    <div id="address1"> 2418 S Bristol st </br>
                                        Santa Ana , CA 92704  </br>
                                        Phone: (714)- 307-4181 <br>
                                        Email: dhagathreading@gmail.com




                    </div>



            </div>




            <div id="form">

                <p> FeedBack</p>

                <div class="control-group">
                
                 <div class="controls">
                <input id="textinput" name="textinput" placeholder="Name" class="input-large" required="" type="text">
    
                </div>

                <div class="controls">
                <input id="textinput" name="textinput" placeholder="Email" class="input-large" required="" type="text">
    
                </div>

                <div class="controls">
                <input id="textinput" name="textinput" placeholder="Message" class="input-large" required="" type="text">
    
                </div>



                

            </div>

          <div id="button"> 
            
                <button onlick="reset()"> Reset </button>
                
                <button onlick="submit()"> Submit </button>


            </div>  

           

    </div>






</div>







