

.imageholder {
    height:550px;
    width:550px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px auto;
    border: #d2d3db solid 7px;
  /* width and height can be anything, as long as they're equal */
}

.imageDiv{
    height:550px;
    width:550px;
    margin-left: -253px;
    margin-top: -25px;
    position: relative;
}
.dhagaImages{
    height:100%;
    width: 100%;
}
.productInfoDiv{
      height:500px;
    width:450px;
    margin-left: 450px;
    margin-top: -555px;
    position: absolute;
     overflow: scroll;
     padding:10px 10px 10px;
}


.imageholder:hover {
  border-color:white ;
  box-shadow: -10px -10px 0 #98004a;
}
/*
  body{
  background-image: url("/images/mainBackground.jpg");
}
*/
.collapse>ul>li:hover {
  background-color: #47023a;
  border-radius: 40px;
box-shadow: -10px -10px 0 #98004a;

}

