/* ============================================================
  PRIMARY STRUCTURE
============================================================ */

/* ============================================================
  SECTIONS

============================================================ */

section.module:last-child {
  margin-bottom: 0;
}

section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax h1 {
  color: #98004a;(255, 255, 255, 0.8);
  line-height: 95px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("/images/logo.jpg");
}
section.module.parallax-2 {
  background-image: url("/images/2.jpg");
}
section.module.parallax-3 {
  background-image: url("/images/3.jpg");
}
section.module.parallax-4 {
  background-image: url("/images/8.jpg");
}

.note {
  position: relative;
  width: 45%;
  padding: 1em 1.5em;
  color: #fff;
  background: #47023a;
   border-radius: 40px;
}
.note:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 46px 46px 0;
  border-style: solid;
  border-color: #658E15 #fff;
}



/*
@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 100px;
  }
}

*/



    #container00 {
    height: 500px;
    width: 800px;
    overflow: hidden;
    margin: 25px auto;
}

#box {
    background: ;
    height: 500px;
    width: 500px;
    margin: 10px -400px;
    -webkit-animation-name: move;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: right;
    -webkit-animation-timing-function: linear;
}

#box:hover {
    -webkit-animation-play-state: paused;
}

@-webkit-keyframes move {
    0% {
        margin-left: -400px;
    }
    100% {
        margin-left: 800px;
    }
}



#container00 {
    height: 500px;
    width: 800px;
    overflow: hidden;
    margin: 25px auto;
}

#box {
    background: ;
    height: 500px;
    width: 500px;
    margin: 10px -400px;
    -webkit-animation-name: move;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: right;
    -webkit-animation-timing-function: linear;
}

#box:hover {
    -webkit-animation-play-state: paused;
}

@-webkit-keyframes move {
    0% {
        margin-left: -400px;
    }
    100% {
        margin-left: 800px;
    }
}



#container11
{
    width: 800px;
    height: 100px;
    padding: 10px;
    overflow-x: hidden;
    background: green;
}

#container11 > div
{
    width: 500px;
    height: 100px;
    white-space: nowrap;
    animation: slide infinite 3s alternate;
}

#container11:hover > div
{
    animation-play-state: paused;
}

#container11 > div > div
{
    display: inline-block;
    width: 90px;
    height: 100px;
    margin-right: 10px;
    background: #dddddd;
}

@keyframes slide {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: -100px;
  }
  100% {
    margin-left: -200px;
  }
}