
<div class="row  aboutusMainDiv " >
<img src="images/logistics-banner.jpg" class="">
  <section class="module content ">
    <div class="container-fluid contentdiv  img-responsive  ">
      <div class="col-sm-8 ">
      <h2 style="text-align: center">Dhaga Threading</h2>

<p >{{abtUsAboutUsPage}}</P>
<p >{{abtUsAboutUsPage}}</P>
<button class="btn btn-danger hvr-buzz ">More....</button>
<br/>
</div>
<div class="col-sm-4 hvr-border-fade">
<br/>

<div class="trendBtn ">
  <br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <a href="#/chartPage" class="ghost-button">Trending</a>
  <br/>
  <a href="#/history" class="ghost-button">History</a>
  <br/>
  <!-- Read the blog post -->
  <a class="ghost-button" target="_blank">Customers</a>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>

<br/>


</div>
 </div>

  </section>



  <section class="module parallax parallax-1 img-responsive" >
    <div class="container-fluid">

    </div>
  </section>

</div>

