

          <div class="row contactMainDiv">
      <div class=" container-fluid">

          <div class="map col-md-6 ">
            <iframe src="http://www.yourmapmaker.com/preview.php?a=2418 S Bristol st  Ana , CA 92704 ,United States&w=420&h=450&n=test&z=14&t=Map" height="490" width="520" scrolling="no" frameborder="0"></iframe>

        </div>

        <div id="contact1">






            <div class="col-sm-6  infodiv">

                <div class="row form-group">
                  <div class="col-md-12">
                      <h1>Contact Us</h1>
                  </div>
                  <div class="col-xs-4">
                    <input type="text" class="form-control" id="firstName" name="name" placeholder="Your Name">
                </div>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="organization" name="organization" placeholder="Company or Organization">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-5">
                    <input type="email" class="form-control" name="email" placeholder="Email">
                </div>
                <div class="col-xs-5">
                    <input type="number" class="form-control" name="phone" placeholder="Phone">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-10">
                  <textarea class="form-control" placeholder="Message"></textarea>
              </div>
          </div>
          <div class="row form-group">
            <div class="col-xs-10">
              <a href="mailto:dhagathreading@gmail.com"><button class="btn btn-default pull-right">Contact Us</button></a>
          </div>
      </div>

  </div>
      <div class="container icon">
        <div col-md-4></div>
        <div class="col-sm-12 col-sm-offset-2 text-center">

          <ul class="list-inline center-block">
            <li><a href="http://facebook.com/bootply"><img src="images/facebook.jpg"></a></li>
            <li><a href="http://twitter.com/bootply"><img src="images/youtube.jpg"></a></li>
            <li><a href="http://google.com/+bootply"><img src="images/twiteer.jpg"></a></li>
            <li><a href="http://pinterest.com/in1"><img src="images/skype.jpg"></a></li>
          </ul>

        </div><!--/col-->
          <div col-md-4></div>
      </div><!--/container-->
  </div>
  </div>
</div>

