
<div class=" row contactMainDiv">



            <div class="col-sm-5 infodiv">
                <div id="w">


    <form id="contactform" name="contact" method="post" action="#" class="note ">
      <h1>Send us a Message !</h1>

<p><span class="req">*</span> Asterisk fields are required</p>
<br>
      <div class="row">
        <label for="name">Your Name <span class="req">*</span></label>
        <input type="text" name="name" id="name" class="txt" tabindex="1" placeholder="Your Full Name" required>
      </div>

      <div class="row">
        <label for="email">E-mail Address <span class="req">*</span></label>
        <input type="email" name="email" id="email" class="txt" tabindex="2" placeholder="address@domain.com" required>
      </div>

      <div class="row">
        <label for="subject">Subject <span class="req">*</span></label>
        <input type="text" name="subject" id="subject" class="txt" tabindex="3" placeholder="Subject" required>
      </div>

      <div class="row">
        <label for="message">Message <span class="req">*</span></label>
        <textarea name="message" id="message" class="txtarea" tabindex="4" required></textarea>
      </div>

      <div class="center">
        <input type="submit" id="submitbtn" name="submitbtn" tabindex="5" value="Send Message">
      </div>
    </form>
  </div>




  </div>

<div class="row col-sm-6">


<div class="map_canvas">
            <iframe src="http://www.yourmapmaker.com/preview.php?a=2418 S Bristol st  Ana , CA 92704 ,United States&w=550&h=600&n=test&z=14&t=Map" width="550" height="600"></iframe>

        </div>

</div>
</div>