
<div class="row mainPageContainer ">
  <!--Main Page ========Cloud Animation======= -->
  <div class=" sky">
    <div class="moon"></div>
    <div class="clouds_one"></div>
    <div class="clouds_two"></div>
  </div>
  <!--Main Page ========END======Cloud Animation=======END=== -->
  <!--========Banner Image Below Cloud Effect====== -->
  <img src="images/beautifulyou.jpg">
  <!--=====END ===Banner Image Below Cloud Effect=====END===== -->
  <div class="row col-sm-4 welcometext pull-right hvr-float-shadow" >
    <h3 data-toggle="modal" data-target="#myModal">&nbsp;&nbsp;&nbsp;Plan & Promotion </h3>
  </div>
  <div class=" row col-sm-3  welcometext1 pull-right hvr-float-shadow" >
    <h3>&nbsp;&nbsp;&nbsp;Make An Appointment</h3>
  </div>
  <div class=" row col-sm-2  welcometext2 pull-right hvr-float-shadow" >
    <h3>Media </h3>
  </div>
  <!-- Modal -->
  <div class="container">
    <!-- Trigger the modal with a button -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content ">
          <div class="modal-header">
            <h1 class="modal-title btn btn-success btn-lg btn-block">This Week Promotions</h1>
          </div>
          <div class="modal-body bg-warning  " >
            <p style="color:black" >$2 off in Eyebrow Threading</p>
            <p style="color:black" >$5 off in Full Facial</p>
            <p style="color:black" >$1 off in Upper Lip Threading</p>
            <p style="color:black" >$2 off in any Henna Tattoo</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

  </div>

  <!-- /Modal -->
  <!-- ==========END====Main Page  Modal=======END Modal====== -->

  <div class="imageDiv " >
      <!--
      <div  class="imageholder img-responsive " > <img src="{{picPath}}"  class=" img-responsive morp" ng-click="nxt()" ></div>

    -->


    <!-- =========Scroll Down Arrow ====== -->
    <ul  id="bouncearr">
     <li><a href="" ><i class="glyphicon glyphicon-chevron-down"></i></a></li>

   </ul>

   <!-- ======main page======1st Parallax ====-->
   <section class="module parallax parallax-1 img-responsive" >
    <div class="container-fluid img-responsive">

    </div>
  </section>

  <section class="module content hvr-sweep-to-bottom hvr-curl-top-left  ">

    <div class="container-fluid contentdiv  img-responsive ">
     <div class="col-sm-8">
      <h2>{{titlechange}}</h2>
      <p>{{productchange}}</p>
      <p>{{productchange}}</p>
      <button class="btn btn-danger hvr-buzz ">More....</button>
      <br/> <br/>
    </div>
    <div class="col-md-4">
      <div class="loginBox">
        <section class="sectionLogin">
          <span class="loginspan hvr-pop"></span>
          <h1 class="loginh1" >Member Login</h1>
          <form>
            <input placeholder='User Name' type='text' class="loginInput hvr-pop" ng-model="user">
            <input placeholder='Password' type='password' class="loginInput hvr-pop">
          </form>
          <button class="loginBtn hvr-buzz" ng-click="open()">LOGIN </button>
          <h2 class="loginh2">
            <a href='' class="logina">Forgot Password? </a>
          </h2>
          <br/>
          <br/><br/><br/><br/>
        </form>
      </section>
    </div>
  </div>
</div>
</section>

     <!--  modal for log in form  -->

  <script type="text/ng-template" id="myModalContent.html" >

        <div class="modal-header" >
            <h3 class="modal-title"> Welcome Back {{user}}!</h3>
        </div>
        <div class="modal-body">
            <ul>
                    <table class="table" >
                     <caption> Your History Purchased</caption>
                     <thead>
                        <tr>
                           <th>Date</th>
                           <th>Service</th>
                           <th>Total</th>
                        </tr>
                     </thead>
                     <tbody >
                        <tr ng-repeat="data in datas">
                           <td> {{data.date}}</td>
                           <td>  {{data.service}}</td>
                           <td> {{data.total}} </td>
                        </tr>
                     </tbody>
                     </table>
            </ul>

        <h3>  Make Appointment Now ! You will get 10% off   </h3>

        </div>

        <div class="modal-footer">

            <button class="btn btn-warning" type="button" ng-click="cancel()">Ok</button>

        </div>

      </script>








<section class="module parallax parallax-2 img-responsive">
  <div class="container-fluid">
  </div>
</section>
<section class="module content hvr-sweep-to-top ">
  <div class="container-fluid contentdiv  img-responsive ">
    <div class="col-sm-8">
      <h2>Threading</h2>
      <p>{{productchange1}}
      </p>
      <button class="btn btn-danger hvr-grow-rotate ">More....</button>
    </div>
    <div class="col-sm-4">
      <!-- normal -->
      <div  class="ih-item square colored effect4" ><a href="">
        <div  ng-click="hennaphotos()"></div>
        <div class="img"><img src="images/eyebrow/1.jpg" alt="img"></div>
        <div class="mask1"></div>
        <div class="mask2"></div>
        <div class="info">
          <div class="info-back">
            <h3>Threading</h3>
            <p>$7 and Up </p>
            <p>(click here for more details)</p>
          </div>
        </div></a>
      </div>
      <!-- normal -->
      <!-- colored -->
      <div class="ih-item square colored effect8 scale_down"><a href="">
        <div class="img"><img src="images/eyebrow/2.jpg" alt="img"></div>
        <div class="info">
          <h3>Threading</h3>
          <p>$25 For Full Face </p>
          <p>(click here for more details)</p>
        </div></a></div>
        <!-- end colored -->
      </div>
    </div>
  </section>
  <section class="module parallax parallax-3 img-responsive">
    <div class="container-fluid">
    </div>
  </section>
  <section class="module content hvr-sweep-to-right ">
    <div class="container-fluid contentdiv  img-responsive ">
     <div class="col-sm-8">
     <h2>{{titlechange1}}</h2>
<ul>
      <li>
            <h4>{{facialsteptitle}}</h4>
            <p>{{facialstepdetails}}</p>
      </li>
      <li>
            <h4>{{facialsteptitle1}} </h4>
            <p>{{facialstepdetails1}}</p>
      </li>
      <li>
            <h4>{{facialsteptitle2}}</h4>
            <p>{{facialstepdetails2}}</p>
      </li>
      <li>
            <h4>{{facialsteptitle3}}</h4>
            <p>{{facialstepdetails3}}</p>
      </li>
      <li>
            <h4>{{facialsteptitle4}} </h4>
            <p>{{facialstepdetails4}}</p>
      </li>
</ul>
    <button class="btn btn-danger hvr-grow-rotate ">More....</button>
    <br/><br/>

  </div>
  <div class="col-sm-4">
    <br/>
    <!-- normal -->
    <div class="ih-item square effect15 left_to_right"><a href="">
      <div class="img"><img src="images/facial/1.jpg" alt="img"></div>
      <div class="info">
        <h3>Facial</h3>
        <p>$55 </p>
        <p>(click here for more details)</p>
      </div></a></div>
      <!-- end normal -->

      <!-- normal -->
      <div class="ih-item square effect15 left_to_right"><a href="">
        <div class="img"><img src="images/facial/2.jpg" alt="img"></div>
        <div class="info">
         <h3>Mini Facial</h3>
         <p>$35 </p>
         <p>(click here for more details)</p>
       </div></a></div>
       <!-- end normal -->

       <!-- normal -->
       <div class="ih-item square effect15 left_to_right"><a href="">
        <div class="img"><img src="images/facial/3.jpg" alt="img"></div>
        <div class="info">
          <h3>Cleansing</h3>
          <p>$20 </p>
          <p>(click here for more details)</p>
        </div></a></div>
        <!-- end normal -->
        <br/>
      </div>
    </div>
  </section>

  <section class="module parallax parallax-4 img-responsive">
    <div class="container-fluid">

    </div>
  </section>

  <section class="module content hvr-sweep-to-top">
    <div class="container-fluid contentdiv  img-responsive ">
      <div class="col-sm-4">
        <!-- normal -->
        <div class="ih-item square effect14 right_to_left"><a href="">

          <div class="img"><img src="images/henna/3.jpg" alt="img"></div>
          <div class="info">
            <div class="info-back">
              <h3>Henna Tattoo</h3>
              <p>$5 and up </p>
              <p>(click here for more details)</p>
            </div>
          </div></a>
        </div>
        <!-- end normal -->

        <!-- Right to left-->

        <!-- normal -->
        <div class="ih-item square effect14 right_to_left"><a href="">
          <div class="img"><img src="images/henna/4.jpg" alt="img"></div>
          <div class="info">
            <h3>Henna Tattoo</h3>
            <p>$5 and up </p>
            <p>(click here for more details)</p>
          </div></a></div>
          <!-- end normal -->


          <!-- normal -->
          <div class="ih-item square effect14 right_to_left"><a href="">
            <div class="img"><img src="images/henna/2.jpg" alt="img"></div>
            <div class="info">
              <h3>Henna Tattoo</h3>
              <p>$5 and up </p>
              <p>(click here for more details)</p>
            </div></a></div>
            <!-- end normal -->
            <br/><br/><br/><br/><br/>
          </div>

          <div class="col-sm-8">
            <h2>Henna Tattoo</h2>
            <p>{{productchange2}}</p>
            <p>{{productchange2}}</p>
            <p>{{productchange2}}</p>
            <button class="btn btn-danger hvr-grow-rotate pull-right">More....</button>
            <br/>
          </div>
        </div>
      </section>
    </div>



  <!--
  <div class="buttonholder" align="center">
    <button ng-click="prev() " data-slide="prev" class="btn btn-danger" id="prebutton" > <span class="glyphicon glyphicon-triangle-left" ></button>
    <button ng-click="nxt()"  data-slide="next" class=" btn btn-danger" id="nextbutton" > <span class="glyphicon glyphicon-triangle-right" ></span></button>
  </div>
-->
