
<div class="row" ng-hide="maincontentdiv">

  <div class="col-md-3">

    <!-- normal -->
    <div class="ih-item circle effect1" ng-click="hennaphotos()"><a >
        <div class="spinner" ng-click="hennaphotos()"></div>
        <div class="img"><img src="images/henna.jpg" alt="img" ng-click="hennaphotos()"></div>
        <div class="info">
          <div class="info-back">
            <h3>Henna</h3>
            <p>$5 and Up </p>
             <p>(click here for more details)</p>
          </div>
        </div></a></div>
    <!-- end normal -->

</div>





  <div class="col-md-3">

    <!-- normal -->
    <div class="ih-item circle effect1"><a href="#">
        <div class="spinner"></div>
        <div class="img"><img src="images/facial.jpg" alt="img"></div>
        <div class="info">
          <div class="info-back">
            <h3>Facial</h3>
            <p>$35 </p>
             <p>(click here for more details)</p>
          </div>
        </div></a></div>
    <!-- end normal -->

</div>


  <div class="col-md-3">

    <!-- normal -->
    <div class="ih-item circle effect1"><a href="#">
        <div class="spinner"></div>
        <div class="img"><img src="images/8.jpg" alt="img"></div>
        <div class="info">
          <div class="info-back">
            <h3>Waxing</h3>
            <p>$15 and up </p>
               <p>(click here for more details)</p>
          </div>
        </div></a></div>
    <!-- end normal -->

</div>



  <div class="col-md-3">

    <!-- normal -->
    <div class="ih-item circle effect1"><a href="#">
        <div class="spinner"></div>
        <div class="img"><img src="images/7.jpg" alt="img"></div>
        <div class="info">
          <div class="info-back">
            <h3>Eyebrow/Threading</h3>
            <p>$7 and up </p>
            <p>(click here for more details)</p>
          </div>
        </div></a></div>
    <!-- end normal -->

</div>


</div>

<div class="row" ng-hide="hennagallery">
  <div class="col-md-3"></div>
<div class="hennagallery col-md-6">
<carousel interval="myInterval">
         <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}">

           <div class="carousel-caption">


           </div>
         </slide>
       </carousel>

<button class="btn btn-danger btn-lg " ng-click="backToPricePage()">Back</button>

<button class="btn btn-success btn-lg " ng-click="makeAppointment()">Make Appointment </button>


</div>
 <div class="col-md-3"></div>
</div>


<div ng-show="scheduleDay">
      This is schedule page 

      <timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>


      <div style="display:inline-block; min-height:290px;">
      <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></datepicker>
    </div>
    
     

      <pre>Your schedule is on :  {{mytime | date:'shortTime' }} <em>{{dt | date:'fullDate' }}</em></pre>



    <button class="btn btn-success btn-lg " ng-click="confirm()"> Confirm your schedule  </button>
  <hr>

  
  
  

</div>



<br/>
