
<div class="row">

  <div class="col-md-3">

    <!-- normal -->
    <div class="ih-item circle effect1"><a href="#">
        <div class="spinner"></div>
        <div class="img"><img src="images/henna.jpg" alt="img"></div>
        <div class="info">
          <div class="info-back">
            <h3>Henna</h3>
            <p>Description goes here</p>
          </div>
        </div></a></div>
    <!-- end normal -->

</div>





  <div class="col-md-3">

    <!-- normal -->
    <div class="ih-item circle effect1"><a href="#">
        <div class="spinner"></div>
        <div class="img"><img src="images/facial.jpg" alt="img"></div>
        <div class="info">
          <div class="info-back">
            <h3>Facial</h3>
            <p>Description goes here</p>
          </div>
        </div></a></div>
    <!-- end normal -->

</div>


  <div class="col-md-3">

    <!-- normal -->
    <div class="ih-item circle effect1"><a href="#">
        <div class="spinner"></div>
        <div class="img"><img src="images/8.jpg" alt="img"></div>
        <div class="info">
          <div class="info-back">
            <h3>Waxing</h3>
            <p>Description goes here</p>
          </div>
        </div></a></div>
    <!-- end normal -->

</div>



  <div class="col-md-3">

    <!-- normal -->
    <div class="ih-item circle effect1"><a href="#">
        <div class="spinner"></div>
        <div class="img"><img src="images/7.jpg" alt="img"></div>
        <div class="info">
          <div class="info-back">
            <h3>Eyebrow</h3>
            <p>Description goes here</p>
          </div>
        </div></a></div>
    <!-- end normal -->

</div>


</div>

<br/>