
<br><br><br><br><br><br>
<div>

<h1>Step In For Our Exclusive Services</h1>
<div class="accordion">
  <ul >
    <li  >
      <div> <a href="#">
        <h2>Facial</h2>
        <p></p>
        </a> </div>
    </li>
    <li >
      <div> <a href="#">
        <h2>Facial</h2>
        <p>to take care of your skin</p>
        </a> </div>
    </li>
    <li  >
      <div> <a href="#">
        <h2>Eyebrow</h2>
        <p>Style yourself</p>
        </a> </div>
    </li>
    <li >
      <div> <a href="#">
        <h2>Eyebrow</h2>
        <p>We Suggest and Style your Brows</p>
        </a> </div>
    </li>
    <li >
      <div> <a href="#">
        <h2>Title 5</h2>
        <p>Description 5</p>
        </a> </div>
    </li>
    <li>
      <div> <a href="#">
        <h2>Title 6</h2>
        <p>Description 6</p>
        </a> </div>
    </li>

  </ul>
</div>


</div>
