<!-- ================Carousel start ======Main Page ===Banner=====-->
<div class="row serviceBannerCarousel"></div>
<carousel interval="myInterval" ng-hide="servicePageBannerCarousel">
         <slide ng-repeat="slide in slides0" active="slide.active">
        <img ng-src="{{slide.image}}">

           <div class="carousel-caption">


           </div>
         </slide>
       </carousel>




  <div class="row serviceMainDiv" ng-hide="servicepicdetails">

  <!-- ==========Service ======Henna Gallery ======== -->
    <div class="row">
      <div class="col-sm-4 galleryHolder" align="center" ng-click="hennaphotos()">
        <h4><strong>Henna Tattoo</strong></h4>
        <!-- normal -->
        <div class="ih-item circle effect1" ng-click="hennaphotos()"><a >
          <div class="spinner" ng-click="hennaphotos()"></div>
          <div class="img"><img src="images/henna.jpg" alt="img" ng-click="hennaphotos()"></div>
          <div class="info">
            <div class="info-back">
              <h3>Henna</h3>
              <p>$5 and Up </p>
              <p>(click here for more details)</p>
            </div>
          </div></a></div>
          <!-- end normal -->
        </div>

        <div class="col-sm-8 serviceContent">
          <p>
            Mehndi is the ancient art of body decorating using a paste made of the the dried leaves of the henna plant.
            the paste temporarily stains  the skin an orange-brown color.using only all natural products,fresh high quality
            morocan henna powder,pure essensial oils (including eucalyptus,cajeput,laender,tea tree),lemon juice and
            molasses,our skilled artists mix the paste,and fill bottles.witch are used to apply the paste to the skin in delicate
            or bodly sensual patterns,We provide a complete Mehndi experience,preparing the skin,custom designs,and
            after-care to insure a beautiful result.<br/>   <br/>
          </p>

        </div>

        </div>

  <!-- ======End Of====Service ======Henna Gallery =======End Of======= -->

  <!-- ==========================Service Page Facial Gallery=============================-->

  <div class="row">
  <div class="col-md-4 galleryHolder1" align="center">
     <h4><strong>Facial </strong></h4>
        <!-- normal -->
      <div class="ih-item circle effect1" ng-click="facialphotos()"><a>
          <div class="spinner"></div>
          <div class="img"><img src="images/facial.jpg" alt="img"></div>
          <div class="info">
            <div class="info-back">
              <h3>Facial</h3>
              <p>$35 </p>
               <p>(click here for more details)</p>
            </div>
          </div></a></div>
      <!-- end normal -->
  </div>

  <div class="col-sm-8 serviceContent ">
  <p>
        Mehndi is the ancient art of body decorating using a paste made of the the dried leaves of the henna plant.
        the paste temporarily stains  the skin an orange-brown color.using only all natural products,fresh high quality
         morocan henna powder,pure essensial oils (including eucalyptus,cajeput,laender,tea tree),lemon juice and
          molasses,our skilled artists mix the paste,and fill bottles.witch are used to apply the paste to the skin in delicate
          or bodly sensual patterns,We provide a complete Mehndi experience,preparing the skin,custom designs,and
          after-care to insure a beautiful result.
          <br/>   <br/>
  <button class="btn btn-success " ng-click="makeAppointment()">Make Appointment </button>
  </p>

  </div>



  </div>


  <!-- =============Facial Gallery End=======================End Facial Gallery===================-->

    <br/>
     <div class="row ">
<img src="images/beautifulyou.jpg" class="hvr-wobble-vertical">
<!-- =========Scroll Down Arrow ====== -->
        <ul  id="bouncearr" >
           <li><a href="" ><i class="glyphicon glyphicon-chevron-down"></i></a></li>

</ul>
</div>

  <section class="module parallax parallax-service img-responsive">
    <div class="container-fluid">

    </div>
  </section>




  <!-- ============================Waxing Gallery Service Page===========================-->


  <div class="row">
  <div class="col-md-4 galleryHolder2" align="center">
 <h3>Waxing</h3>
        <!-- normal -->
      <div class="ih-item circle effect1" ng-click="waxingphotos()"><a >
          <div class="spinner"></div>
          <div class="img"><img src="images/4.jpg" alt="img"></div>
          <div class="info">
            <div class="info-back">
              <h3>Waxing</h3>
              <p>$15 and up </p>
                 <p>(click here for more details)</p>
            </div>
          </div></a></div>
      <!-- end normal -->


  </div>



  <div class="col-sm-6 serviceContent">
  <p>
        Mehndi is the ancient art of body decorating using a paste made of the the dried leaves of the henna plant.
        the paste temporarily stains  the skin an orange-brown color.using only all natural products,fresh high quality
         morocan henna powder,pure essensial oils (including eucalyptus,cajeput,laender,tea tree),lemon juice and
          molasses,our skilled artists mix the paste,and fill bottles.witch are used to apply the paste to the skin in delicate
          or bodly sensual patterns,We provide a complete Mehndi experience,preparing the skin,custom designs,and
          after-care to insure a beautiful result.
          <br/>
  </p>

  </div>


  </div>


  <!-- ===========================End Of Waxing gallery Service Page============================-->


    <br/>






  <!-- =========================Threading Gallery==============================-->

    <div class="row">

  <div class="col-md-4 galleryHolder3" align="center">
 <h3>Threading</h3>
        <!-- normal -->
      <div class="ih-item circle effect1" ng-click="eyebrowphotos()"><a >
          <div class="spinner"></div>
          <div class="img"><img src="images/1.jpg" alt="img"></div>
          <div class="info">
            <div class="info-back">
              <h3>Threading</h3>
              <p>$7 and up </p>
              <p>(click here for more details)</p>
            </div>
          </div></a>
        </div>
      <!-- end normal -->
  </div>





  <div class="col-sm-6 serviceContent">
  <p>
        Mehndi is the ancient art of body decorating using a paste made of the the dried leaves of the henna plant.
        the paste temporarily stains  the skin an orange-brown color.using only all natural products,fresh high quality
         morocan henna powder,pure essensial oils (including eucalyptus,cajeput,laender,tea tree),lemon juice and
          molasses,our skilled artists mix the paste,and fill bottles.witch are used to apply the paste to the skin in delicate
          or bodly sensual patterns,We provide a complete Mehndi experience,preparing the skin,custom designs,and
          after-care to insure a beautiful result.
          <br/>
  <button class="btn btn-success " ng-click="makeAppointment()">Make Appointment </button>
  </p>

  </div>




  <!-- ===========================End Of Threading gallery============================-->

  </div>



     <div class="row">
     <img src="images/bannerMainPage1.jpg" class="hvr-grow">
   </div>
</div>


    </div>
<!-- =========================Main Div Of Service Page End==============================-->









  <div class="col3  "  ng-hide="hennagallery" >
    <div id="gallery">
      <ul>
        <li class="placeholder" style="background-image:url('images/henna/5.jpg');">Henna Gallery</li>
        <li><a class="swap " href=""><img src="images/henna/1.jpg" alt="" /><span><img src="images/henna/1.jpg" width="1000" height="625" alt="" /></span></a> </li>
        <li><a class="swap " href=""><img src="images/henna/2.jpg" alt="" /><span><img src="images/henna/2.jpg" width="1000" height="625" alt="" /></span></a></li>
        <li><a class="swap " href=""><img src="images/henna/3.jpg" alt="" /><span><img src="images/henna/3.jpg" width="1000" height="625" alt="" /></span></a></li>
        <li><a class="swap " href=""><img src="images/henna/4.jpg" alt="" /><span><img src="images/henna/4.jpg" width="1000" height="625" alt="" /></span></a></li>
        <li class="last"><a class="swap" href=""><img src="images/henna/1.jpg" alt="" /><span><img src="images/henna/1.jpg"width="1000" height="625" alt="" /></span></a></li>
      </ul>
    </div>
    <div class="buttonHolder">
  <button class="btn btn-danger  " ng-click="backToPricePage()">Back</button>

  <button class="btn btn-success " ng-click="makeAppointment()">Make Appointment </button>

  </div>
  <br/>
  </div>




















  <div class="col3  "  ng-hide="waxinggallery">
  <div id="gallery">
      <ul>
        <li class="placeholder" style="background-image:url('images/waxing/1.jpg');">Henna Gallery</li>
        <li><a class="swap " href=""><img src="images/waxing/1.jpg" alt="" /><span><img src="images/waxing/1.jpg" width="1000" height="625" alt="" /></span></a></li>
        <li><a class="swap " href=""><img src="images/waxing/2.jpg" alt="" /><span><img src="images/waxing/2.jpg" width="1000" height="625" alt="" /></span></a></li>
        <li><a class="swap " href=""><img src="images/waxing/3.jpg" alt="" /><span><img src="images/waxing/3.jpg" width="1000" height="625" alt="" /></span></a></li>
        <li><a class="swap " href=""><img src="images/waxing/4.jpg" alt="" /><span><img src="images/waxing/4.jpg" width="1000" height="625" alt="" /></span></a></li>
        <li class="last"><a class="swap" href=""><img src="images/waxing/1.jpg" alt="" /><span><img src="images/waxing/1.jpg"width="1000" height="625" alt="" /></span></a></li>
      </ul>
    </div>
    <div class="buttonHolder">
  <button class="btn btn-danger  " ng-click="backToPricePage()">Back</button>

  <button class="btn btn-success " ng-click="makeAppointment()">Make Appointment </button>

  </div>
  <br/>
  </div>












  <div class="col3" ng-hide="eyebrowgallery">
    <div id="gallery">
      <ul>
        <li class="placeholder" style="background-image:url('images/eyebrow/4.jpg');">Henna Gallery</li>
        <li><a class="swap " href=""><img src="images/eyebrow/1.jpg" alt="" /><span><img src="images/eyebrow/1.jpg" width="1000" height="625" alt="" /></span></a></li>
        <li><a class="swap " href=""><img src="images/eyebrow/2.jpg" alt="" /><span><img src="images/eyebrow/2.jpg" width="1000" height="625" alt="" /></span></a></li>
        <li><a class="swap " href=""><img src="images/eyebrow/3.jpg" alt="" /><span><img src="images/eyebrow/3.jpg" width="1000" height="625" alt="" /></span></a></li>
        <li><a class="swap " href=""><img src="images/eyebrow/4.jpg" alt="" /><span><img src="images/eyebrow/4.jpg" width="1000" height="625" alt="" /></span></a></li>
        <li class="last"><a class="swap" href=""><img src="images/eyebrow/1.jpg" alt="" /><span><img src="images/eyebrow/1.jpg"width="1000" height="625" alt="" /></span></a></li>
      </ul>
    </div>
    <div class="buttonHolder">
  <button class="btn btn-danger  " ng-click="backToPricePage()">Back</button>

  <button class="btn btn-success " ng-click="makeAppointment()">Make Appointment </button>

  </div>
  <br/>
  </div>










  <div class="col3" ng-hide="facialgallery">
    <div id="gallery">
      <ul>
        <li class="placeholder" style="background-image:url('images/facial/4.jpg');">Henna Gallery</li>
        <li><a class="swap " href=""><img src="images/facial/1.jpg" alt="" /><span><img src="images/facial/1.jpg" width="1000" height="625" alt="" /></span></a></li>
        <li><a class="swap " href=""><img src="images/facial/2.jpg" alt="" /><span><img src="images/facial/2.jpg" width="1000" height="625" alt="" /></span></a></li>
        <li><a class="swap " href=""><img src="images/facial/3.jpg" alt="" /><span><img src="images/facial/3.jpg" width="1000" height="625" alt="" /></span></a></li>
        <li><a class="swap " href=""><img src="images/facial/4.jpg" alt="" /><span><img src="images/facial/4.jpg" width="1000" height="625" alt="" /></span></a></li>
        <li class="last"><a class="swap" href=""><img src="images/facial/1.jpg" alt="" /><span><img src="images/facial/1.jpg"width="1000" height="625" alt="" /></span></a></li>
      </ul>
    </div>
    <div class="buttonHolder">
  <button class="btn btn-danger  " ng-click="backToPricePage()">Back</button>

  <button class="btn btn-success " ng-click="makeAppointment()">Make Appointment </button>

  </div>
  <br/>
  </div>


  <div class="row " >
  <div class="col-md-3"></div>
  <div  ng-show="scheduleDay" class="col-md-6">

        <timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>


        <div style="display:inline-block; min-height:290px;">
        <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></datepicker>
      </div>

      <div class="servicelist">


              <accordion-group is-open="status.open">
              <div class="serviceHolderDiv">
          <accordion-heading>
               Service  ! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
          </accordion-heading>
          <div class="control-group">
            <label class="control-label" for="checkboxes">Choose your service </label>
            <div class="controls">
              <label class="checkbox"  ng-repeat="service in services">
                <input name="checkboxes"  type="checkbox" ng-model="service.checked">
                {{service.text}}
              </label>






              </div>
               </div>
  </div>


  </accordion-group>

  <pre>Your schedule is on :  {{mytime | date:'shortTime' }} <em>{{dt | date:'fullDate' }}</em></pre>







    <div class="col-xs-6">
                      <input type="text" class="form-control" id="firstName" name="name" placeholder="Your Name">
         </div>

         <div class="col-xs-6">
                      <input type="text" class="form-control" name="phone" placeholder="Phone">
                  </div>




         <div class="control-group">
  <br/><br/><br/>
    <label class="control-label" for="selectbasic">How many person ?</label>
    <div class="controls">
      <select id="selectbasic" name="selectbasic" class="input-large">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
      </select>
    </div>
  </div>

        <h3 style="color:red"> Estimate Total :  ${{checkedCount()}} </h3>


      </div>
    </br>  </br>  </br><br/><br/>



        <button class="btn btn-success btn-lg " ng-click="confirm()"> Confirm your order!  </button>




  </div>

  <div class="row conformation">


  <div ng-show="placeorder" class="col-md-12"> <h3 style="color:red">Thank you for your order !</h3>
  <br/><br/><br/><br/>
  <button class="btn btn-success btn-lg " ng-click="confirm2()"> Click here to go back to main page </button>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

  </div>







  </div>



  </div>




