

<div class="row">

<h1>Step In For Our Exclusive Services</h1>
<div class="accordion">
  <ul >
    <li  >
      <div> <a href="#">
        <h2>Facial</h2>
        <p>"A professional treatment will fully cleanse your skin in a way that you simply can't at home,"</p>
        </a> </div>
    </li>
    <li >
      <div> <a href="#">
        <h2>Facial</h2>
        <p>to take care of your skin</p>
        </a> </div>
    </li>
    <li  >
      <div> <a href="#">
        <h2>Eyebrow</h2>
        <p>Style yourself</p>
        </a> </div>
    </li>
    <li >
      <div> <a href="#">
        <h2>Eyebrow</h2>
        <p>We Suggest and Style your Brows</p>
        </a> </div>
    </li>
    <li >
      <div> <a href="#">
        <h2>Waxing</h2>
        <p>Extra Care To Your Skin </p>
        </a> </div>
    </li>
    <li>
      <div> <a href="#">
        <h2>Eyebrow</h2>
        <p> Style yourself</p>
        </a> </div>
    </li>

  </ul>
</div>


</div>
