<!--<div class="jumbotron">
  <h3>Welcome To Dhaga Threading</h3>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
-->

<div class="mainPageContainer">
  {{x}}
<div class="imageDiv">
<div  class="imageholder img-responsive carousel slide "   data-ride="carousel"> <img src="{{picPath}}"  class=" dhagaImages img-responsive" ng-click="nxt()" ></div>
</div>
<div class=" para productInfoDiv">
<h4> {{productchange}}</h4>
</div>

<div class="buttonholder" align="center">
  <button ng-click="prev() " data-slide="prev" class="btn btn-danger" id="prebutton" > <span class="glyphicon glyphicon-triangle-left" ></button>
  <button ng-click="nxt()"  data-slide="next" class=" btn btn-danger" id="nextbutton" > <span class="glyphicon glyphicon-triangle-right" ></span></button>
</div>




