        .axis path, .axis line
        {
            fill: none;
            stroke: #777;
            shape-rendering: crispEdges;
        }

        .axis text
        {
            font-family: 'Arial';
            font-size: 13px;
        }
        .tick
        {
            stroke-dasharray: 1, 2;
        }
        .bar
        {
            fill: FireBrick;
        }

       .historyBanner{
        margin-top: -20px;
       }
       .historyBackBtn{
       height:70px !important;
  width:70px !important;
  border-radius: 50% !important;
  margin-top:90%;
  margin-left: 40%;
       }