
.imageDiv{

    margin-top:-20px;
}

.imageholder{
  height:600px;
  width:cover;
  margin-top:-18px;
}


.imageholder:hover {
  border-color:white ;
  box-shadow: -10px -10px  #98004a;
}

.contentdiv{
  color:white;
  background-color: #666261;
  color:#ffffff;
}

.navbar-inverse {
  background-color: #0d1336 ! important;
  text-indent: 50px;
  border-radius: 0px ! important;

}


section.module:last-child {
  margin-bottom: 0;
}

section.module p {
  margin-bottom: 40px;
  font-size: 16px;


padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
text-align: justify;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 5px ;

}

/*
hover effect for radiious/color/shadow/animate
section.module.parallax:hover {
  background-color: #47023a;
  border-radius: 40px;
box-shadow: -10px -10px 0  #195c7d;

}
*/
section.module.parallax {
  height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
background-size: cover;
}

section.module.parallax h1 {
  color: #98004a;(255, 255, 255, 0.8);
  line-height: 95px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("../images/eyebrow1.jpg");
}
section.module.parallax-2 {
  background-image: url("../images/eyebrow.jpg");
}
section.module.parallax-3 {
  background-image: url("../images/facial.jpg");
}
section.module.parallax-4 {
  background-image: url("../images/henna.jpg");
}



    #container00 {
    height: 500px;
    width: 800px;
    overflow: hidden;
    margin: 25px auto;
}

#box {
    background: ;
    height: 500px;
    width: 500px;
    margin: 10px -400px;
    -webkit-animation-name: move;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: right;
    -webkit-animation-timing-function: linear;
}

#box:hover {
    -webkit-animation-play-state: paused;
}

@-webkit-keyframes move {
    0% {
        margin-left: -400px;
    }
    100% {
        margin-left: 800px;
    }
}



#container00 {
    height: 500px;
    width: 800px;
    overflow: hidden;
    margin: 25px auto;
}

#box {
    background: ;
    height: 500px;
    width: 500px;
    margin: 10px -400px;
    -webkit-animation-name: move;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: right;
    -webkit-animation-timing-function: linear;
}

#box:hover {
    -webkit-animation-play-state: paused;
}

@-webkit-keyframes move {
    0% {
        margin-left: -400px;
    }
    100% {
        margin-left: 800px;
    }
}



#container11
{
    width: 536px;
    height: 100px;
    padding: 10px;
    overflow-x: hidden;
    background: green;
    margin-left: 240px;
}

#container11 > div
{
    width: 500px;
    height: 100px;
    white-space: nowrap;
    animation: slide infinite 3s alternate;
}

#container11:hover > div
{
    animation-play-state: paused;
}

#container11 > div > div
{
    display: inline-block;
    width: 90px;
    height: 150px;
    margin-right: 10px;

    background: #dddddd;
}

@keyframes slide {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: -100px;
  }
  100% {
    margin-left: -200px;
  }
}

/*======start======Top Scroll======start======*/
.scroll-top {
   position:fixed;
   bottom:0;
   right:6%;
   z-index:100;
   background: #f2f3f2;
   font-size:24px;
   border-top-left-radius:3px;
   border-top-right-radius:3px;
}

.scroll-top a:link,.scroll-top a:visited {
  color:#222;
}

/*======End======Top Scroll======End======*/



/*==============Start====Footer===========Start==========*/


#footer {

   height:100px;
   width:100%;
   background:black;
   font-size: 10pt;
   color:white;
   padding-top: 20px;
}



/*==============END====Footer===========END==========
.contactLogo{

margin-top:-2%;
margin-left: 60%;


}

*/

.container-2{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
    margin-right:-59px;

}

.btn-primary{
  border-radius: 50px ! important;
}
.container-2 input#search{
  width: 80px;
  height: 33px;
  background: grey;
  border: none;
  font-size: 10pt;
  float: left;
  color: #262626;
  padding-left: 15px;


  border-top-left-radius: 50em;
border-top-right-radius: 50em ;
border-bottom-right-radius: 50em;
border-bottom-left-radius: 50em ;


}

.container-2 input#search::-webkit-input-placeholder {
   color: black;
}

.container-2 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}

.container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}

.container-2 input#search:-ms-input-placeholder {
   color: #65737e;
}

.container-2 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: red;
}

.container-2 input#search:focus, .container-2 input#search:active{
  outline:none;
  width:  150px;
}

.container-2:hover input#search{
width: 150px;
}

.container-2:hover .icon{
  color: #93a2ad;
}




/*===================Login Main Page SetUp CSS =============*/
.loginh1 {
  color:black;
  font-size: 44px;
  font-weight: 100px;
  margin-bottom: 30px;
}

.sectionLogin {
  width: 275px;
  background: #ecf0f1;
  padding: 0 30px 30px 30px;
  margin: 60px auto;
  text-align: center;
  border-radius: 5px;
}

.loginspan {
  display: block;
  position: relative;
  margin: 0 auto;
  top: -40px;
  height: 80px;
  width: 80px;
  background: url('../images/login.png') center center no-repeat, #f39c12;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0,0,0,.3);
}



.loginInput {
  width: 100%;
  background: #bdc3c7;
  border: none;
  height: 30px;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  color: #7f8c8d;
}

.loginInput:focus {
  outline: none;
}

.loginBtn {
  width: 100%;
  height: 30px;
  border: none;
  background: #3498db;
  color: #ecf0f1;
  font-weight: 100;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: all ease-in-out .2s;
  border-bottom: 3px solid #2980b9;
}

.loginBtn:focus {
  outline: none;
}

.loginBtn:hover {
  background: #2980b9;
}

.loginh2 {
  font-size: .75em;
}

.logina {
  color: #e74c3c;
  text-decoration: none;
  transition: all ease-in-out .2s;
}

.logina:hover {
  color: #c0392b;
}

.loginBox {
  font: 16px Helvetica;
  background: #d35400;
}

/*==========END=========Login Main Page SetUp CSS =======END======*/

/*===============main page below pointer icon =========*/




#bouncearr {
    position: absolute;
float: right;
margin-left: 90%;
color:green;
    bottom: 0;


    font-size: 40px;
    line-height: 40px;
    -webkit-animation: bounce 2s infinite ease-in-out;
}

@-webkit-keyframes bounce {
  0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
  80% { -webkit-transform: translateY(-10px); }
}


/*=========END======main page below pointer icon =====END=======*/