/*
h1 {
  text-align: center;
  font-family: Montserrat, sans-serif;
  color: #333;
  margin-top:150px;
}
*/
.accordion {
  width: 100%;
  max-width: 1292px;
  height: 250px;
  overflow: hidden;

}

.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}

.accordion ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 16.666%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
}

.accordion ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}

.accordion ul li div a {
  display: block;
  height: 250px;
  width: 100%;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  padding: 15px 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  transition: all 200ms ease;
}

.accordion ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.accordion ul li div a h2 {
  font-family: Montserrat, sans-serif;
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 160px;
}

.accordion ul li div a p {
  top: 160px;
  font-size: 13.5px;
}

/*.accordion ul li:nth-child(1) { background-image: url("../images/service1.png"); }*/

.accordion ul li:nth-child(1) { background-image: url("../images/service2.jpg"); }

.accordion ul li:nth-child(2) { background-image: url("../images/service1.jpg"); }
/*.accordion ul li:nth-child(4) { background-image: url("../images/service4.png"); } */

.accordion ul li:nth-child(3) { background-image: url("../images/service5.jpg"); }

.accordion ul li:nth-child(4) { background-image: url("../images/service6.png"); }


.accordion ul:hover li { width: 8%; }

.accordion ul:hover li:hover { width: 60%; }

.accordion ul:hover li:hover a { background: rgba(0, 0, 0, 0.4); }

.accordion ul:hover li:hover a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
 @media screen and (max-width: 600px) {

body { margin: 0; }

.accordion { height: auto; }

.accordion ul li,
.accordion ul li:hover,
.accordion ul:hover li,
.accordion ul:hover li:hover {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  -webkit-transition: none;
  transition: none;
}
}

.about {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #666;
}

.about a {
  color: blue;
  text-decoration: none;
}




.serviceMainDiv{
  background-color: #666261;
    color:black;

}


.serviceBannerCarousel{
   margin-top: -20px;
}


.controls{

padding:20px 20px 20px 20px;
}




.servicelist{
position: absolute;
margin-top: -370px;
margin-left: 400px;

}

.conformation{
text-align: center;;
}

.headerTitle{
font-family: cursive;
font-weight: bold;

}


.buttonHolder{

margin-left: 520px;
}

/*

.galleryHolder{
  height:245px;
width:300px;
margin-left: 34px;
}

.galleryHolder1{
  height:245px;
width:300px;
margin-left: 75px;
}

.galleryHolder2{
  height:245px;
width:300px;

margin-left: 60px;
}


.galleryHolder3{
  height:245px;
width:300px;

margin-left: 69px;
}

*/
.servicepicdetails{
  background-color: #57564f;
}

.serviceContent > p{
  padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;

}



/*=======service image gallery =========*/
.col3{background-color:#000000; border-bottom:1px solid #3B3B3B; margin-top:-20px;}

#gallery {display:block; position:relative; width:960px; margin: 0 auto;}
#gallery{padding:30px 0;}
#gallery ul{display:block; width:960px; height:500px; margin:0; padding:0; list-style:none;}
#gallery li{display:block; float:left; width:184px; height:110px; margin:10px 10px 0 0; padding:0;}
#gallery li.last{margin-right:0;}
#gallery .placeholder{display:block; float:left; width:950px; height:370px; margin:0; padding:4px; border:1px solid #666666; text-indent:-9999px; background:4px 4px no-repeat;}

#gallery a.swap:link, #gallery a.swap:visited, #gallery a.swap:hover{display:block; width:174px; height:100px; margin:0; padding:4px; text-align:center; border:1px solid #666666;}
#gallery a.swap img{width:174px; height:100px;}
#gallery a.swap span img{width:950px; height:370px;}
a.swap:hover{white-space:normal;}
a.swap:link span, a.swap:visited span, a.swap:active span{visibility:hidden; position:absolute; top:35px; left:5px; width:950px; height:370px;}
a.swap:active span, a.swap:hover span, a.swap:focus span{visibility:visible;}
a.swap:active img, a.swap:focus img{position:relative; z-index:50;}

/*=======service image gallery  End=========*/

/*==========service page ====banner -=====images ==========*/


section.module.parallax-service {
  background-image: url("../images/eyebrow.jpg");
}


section.module.parallax-service {
  height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
background-size: cover;
}

.aaa{
  background-color: #666261;
}